Paquete: httpshare-dde-file-manager-menu-oem
Versión: 1.1
Retenedor: Alvaro Samudio <alvarosamudio@criptext.com>
Sección: admin
Arquitectura: todo
Prioridad: opcional
Descripción: file sharing via http
