[Desktop Entry]
Name=Compartir por HTTP
Type=Application
X-DFM-MenuTypes=EmptyArea;
Actions=IniciarAction;DetenerAction;

[Desktop Action IniciarAction]
Icon=stock_media-play
Name=Iniciar
Exec=httpshare %U

[Desktop Action DetenerAction]
Icon=player_stop
Name=Detener
Exec=killall httpshare
